h1 {
    text-align: center;
    font-family: Megrim;
    font-size: 88px;
    color: #01cdfe;
}

h2 {
    text-align: center;
    font-family: Megrim; 
}

body {
    background: rgb(75,75,75);
}

img {
    width: 19%;
    padding: none;
    margin: 0 auto;
}

#numberWins {
    color: #80ff00
}
#numberLosses {
    color: #800000
}
























